<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8"/>
		<title>Extrato de conta bancária</title>
		<link media="all" rel="styleheet" type="text/css" th:href=@{/css/bootstrap.min.css}/>
		<link media="all" rel="styleheet" type="text/css" th:href=@{/css/styleExtrato.css}/>
	</head>
	
	<!--input type="text" th:value="${extrato.periodoExtrato}" th:name="name" th:id="name"/-->
	<body th:object="${extrato}">
	
	    <div style="text-align: center; 
	                width: 50%; 
	                border: 1px solid #ccc!important; 
	                margin:0 auto; 
	                padding-bottom: 50px; 
	                background-color: beige;">
	    
		    <div style="text-align: center; margin-bottom: 0px;">
				<h1>Extrato de Conta</h1>
		    </div>
		    
		    <div style="text-align: right; color: #1180ef;">
				<span th:text="${#temporals.format(extrato.dataAtual, 'dd/MM/yyyy HH:mm:ss')}"></span>
		    </div>
	
			
			<div style="text-align: center; font-weight: bolder;">
				<span th:text="${extrato.identificacaoConta}" th:name="identificacaoConta" th:id="identificacaoConta"></span>
				<br/><br/><br/>
				<span>Período Extrato</span>
				<br/>
				<span th:text="${extrato.periodoExtrato}" th:name="periodoExtrato" th:id="periodoExtrato"></span>
				<br/>
			</div>
			<br/><br/><br/>
			
			
			<div>
			
				<div style="text-align: left; padding-left: 70%;">
				    Saldo Anterior:<span style="text-align: right;"
				          th:text="| R$ ${{extrato.saldoAnterior}}|"
				          th:styleappend="${extrato.saldoAnterior} < 0 ? 'color: red;' : ''"></span>
				</div>
			
			    <hr style="border-top: 1px solid #8ee2ec;"/>
				<table style="width: 100%">
					<thead>
						<tr>
							<th style="width: 10%; text-align: left;">Data</th>
							<th style="width: 13%; text-align: left;">N° Documento</th>
							<th style="width: 41%; text-align: left;">Descrição</th>
							<th style="width: 10%; text-align: left;">Entradas</th>
							<th style="width: 12%; text-align: right;">Saídas</th>
							<th style="width: 14%; text-align: right;">Saldo</th>
						</tr>
					</thead>
					
					<tbody>
						<tr th:each="movimento : ${extrato.movimentacoes}">
							<td style="text-align: left;" th:text="${{movimento.data}}"></td> 
							<td style="text-align: left;" th:text="${movimento.numero}"></td>
							<td style="text-align: left;" th:text="${movimento.descricao}"></td>
							<td style="text-align: left;" th:text="${!#strings.isEmpty(movimento.valorEntrada)} ? |R$ ${{movimento.valorEntrada}}|"></td>
							<td style="text-align: right;" th:text="${!#strings.isEmpty(movimento.valorSaida)} ? |R$ ${{movimento.valorSaida}}|"></td>
							<td style="text-align: right;" th:text="|R$ ${{movimento.saldo}}|" 
							    th:styleappend="${movimento.getSaldo()} < 0 ? 'color: red;' : ''"></td>
						</tr>
					</tbody>
				</table>
				<hr style="border-top: 1px solid #8ee2ec;"/>
				
				<br/><br/>
				<div style="text-align: left; padding-left: 70%;">
				    Saldo Atual:<span style="text-align: right;"
				          th:text="| R$ ${{extrato.saldoAtual}}|"
				          th:styleappend="${extrato.saldoAtual} < 0 ? 'color: red;' : ''"></span>
				</div>				
			</div>
	    
	    
	    </div>
	    
	    

		<script src="/js/jquery-2.1.4.min.js"></script>
		<script type="text/javascript" src="/js/bootstrap.min.js"></script>
	</body>

</html>